body {
    background-color: rgba(71, 25, 69, 0.822);
}

h1,h3,h4 {
    text-align: center;
    color: orangered;

}



.container-cards {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    
    
}

.task-response {
    color: aliceblue;
    font-size: large;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}